<link rel="icon" href="{% static 'img/twitter.png' %}" />
<section class="content">
    <div class="home-col">
        <div class="img-col">
            {% load static %}
            <img src="{% static 'img/twitter.png' %}" class="image" />
        </div>
        <div class="text-col">
            <h3>Home</h3><br />
        </div>
     </div>
    <section class="post_form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="home"><h3>Home</h3></div><br /> -->
            <div class="logo_user">
                <div class="logo_bar">
                    {% load static %}
                    <img src="{% static 'img/user.png' %}" class="home_icon"/>
                </div>
                <div class="namebar">
                    <input type="text" name="name" placeholder="Your Name" required class="name">
                    <textarea name="body" placeholder="What's Happening?" required></textarea>
                </div>
            </div>
            <div class="submitt">
                <div><input type="file" id="files" name="image" /></div>
                <div class="tweet"><input type="submit" value="Tweet" class="button"/></div>
           </div>
        </form>
        
    </section>
    